fastapi
uvicorn
python-multipart
pydub
celery[redis]
redis
langchain-core==0.3.60
langchain-ollama==0.3.2
langgraph==0.4.3
langgraph-checkpoint==2.0.25
langgraph-prebuilt==0.1.8 
langgraph-sdk==0.1.69
langsmith==0.3.28
streamlit
requests==2.27.1
slowapi
faster-whisper
python-dotenv
notion-client
wordcloud
matplotlib
pandas
faiss-cpu
pydantic
sentence-transformers
pytest
pytest-cov